@use "variables" as var;
@use "breakpoints" as bp;

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include bp.respond-to(mobile-device-landscape) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include bp.respond-to(mobile-devices) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include bp.respond-to(desktop-large) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    background-color: var.$night-black;
    box-sizing: border-box;
    padding: 3rem;
    overflow-x: hidden;

    @include bp.respond-to(mobile-devices) {
        padding: 0;
    }
}

::selection {
    // background-color: $color-primary;
    // color: $color-white;
}
