@use "variables" as var;
@use "breakpoints" as bp;

.test {
  color: pink;
}

header {
  height: var.$header-height-mobile;

  .main-nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-left: 1.5px solid white;
      border-top: 1.5px solid white;
      transform: rotate(225deg);
      margin-left: 5px;
      margin-bottom: 3px;
    }

    &__location-btn {
      font-size: 18px;
      color: white;
      background-color: black;
      border: none;
      cursor: pointer;
    }
  }
}

main {
  .current-weather {
    &-inner-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - var.$header-height-mobile);
    }

    &__city {
      font-size: 24px;
      font-weight: 400;
    }

    &__temperature {
      font-size: 70px;
      font-weight: 400;
    }

    &__condition {
      font-size: 20px;
    }

    &__temperature-range {
      font-size: 20px;
      display: flex;
      gap: 0 16px;
      margin-top: 2px;
    }
  }

  .hourly-forecast {
    font-size: 20px;
    font-weight: 400;

  }

  .days-forecast {

  }
}

footer {
  p {
    color: var.$primary-color;
  }
}
