@use "variables" as var;
@use "breakpoints" as bp;

// Containers
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;

 @include bp.respond-to(mobile) {

 }

 @include bp.respond-to(mobile-small) {

 }
}
