@use "variables" as var;
@use "breakpoints" as bp;

body {
  // font-family: $font-stack;
}

// Headings
h1 {
  font-size: 2rem;

  @include bp.respond-to(mobile-devices) {
    font-size: 1.5rem;
  }

  @include bp.respond-to(mobile) {
    font-size: 1.25rem;
  }
}
