// Colors

$primary-color: red;
$secondary-color: orange;
$tertiary-color: yellow;

$rain-blue: #5AC8FA;
$sky-blue: #007AFF;
$sun-yellow: #FFCC00;
$white: #FFFFFF;
$cloud-white: #F2F2F7;
$storm-gray: #8E8E93;
$night-black: #1C1C1E;
$black: #000;

// Components

$header-height: 70px;
$header-height-mobile: 40px;
