// Colors

$primary-color: red;
$secondary-color: orange;
$tertiary-color: yellow;

$sky-blue: #007AFF;
$cloud-white: #F2F2F7;
$sun-yellow: #FFCC00;
$storm-gray: #8E8E93;
$night-black: #1C1C1E;
$rain-blue: #5AC8FA;
$white: #FFFFFF;
