// Fonts
// chakra petch
// russo one

// Colors

$primary-color: red;
$secondary-color: orange;
$tertiary-color: yellow;

$rain-blue: #5AC8FA;
$sky-blue: #007AFF;
$navy: #21394E;
$sun-yellow: #FFCC00;

$white: #FFFFFF;
$cloud-white: #F2F2F7;
$cool-white: #F3F3F3;

$storm-gray: #8E8E93;
$davy-gray: #494850;

$raisin-black : #2C2C34;
$night-black: #1B1D1F;
$black: #000;


// Components

$header-height: 60px;
$header-height-mobile: 50px;

$border-gray: 1px solid $davy-gray;

// Animations

$transition: .3s ease-in-out;
